@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@400;500;700;800&family=Open+Sans&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
